/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.debug {
    border: 1px solid black;
}
:root {
    --color-header-bg: #ff6900;
	--color-section-bg: #e7e7e5;
	--color-main-bg: #ffffff;
	--color-footer-bg: #1a1a1a;
}
body {
    font-family: "Lato", sans-serif;
}