/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.debug {
    border: 1px solid black;
}
:root {
    --color-header-bg: #ff6900;
	--color-section-bg: #e7e7e5;
	--color-footer-bg: #1a1a1a;
}
body {
    font-family: "Lato", sans-serif;
    background-color: var(--color-main-bg);
}
ul {
    list-style: none;
}
li, i {
    padding: 0 5px;
}
a {
    text-decoration: none;
}

/* header */
header {
    /* position: fixed; */
    background-color: var(--color-header-bg);
    padding: 10px 0;
}

/* main */
section {
    background-color: var(--color-section-bg);
    max-width: 400px;
}
.card-image {
    position: relative;
}
img {
    width: 100%;
}

#heart-box {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 30px;
}
#heart {
    text-align: center;
}
.discount {
    background-color: red;
    padding: 2px 6px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 45px;
}
.eco-green {
    background-color: green;
    padding: 2px 6px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 45px;
    left: 50px;
}

/* footer */
footer {
    background-color: var(--color-footer-bg);
    padding: 10px 0;

}

/* utility */
.d-flex {
    display: flex;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.small-container {
    width: 100px;
}
.space-between {
    justify-content: space-between;
}
.color-text {
    color: white;
}
.red-text {
    color: red;
}